*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::before{
    display: block;
    background: #535971;

    position: fixed;
    z-index: -1;

    top: 0;
    left: 0;

    content: '';
    width: 100%;
    height: 436px;
}

body, 
.form-buttons button{
    font-family: 'Staatliches', sans-serif;
}

header p,
form label{
    font-family: 'Poppins', sans-serif;
}

.page{
    width: 750px;
    margin: 140px auto;

}

header{
    width: 417px;
    color: white;

    font-size: 20px;
    margin-bottom: 50px;
}

header h1{
    color: #FFF;

    font-size: 48px;
    margin-bottom: 18px;
}

form{
    background-color: white;
    padding: 64px;
    border-radius: 20px 20px 0 0;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

fieldset{
    border: none;
}

.fieldset-wrapper legend{
    color: #535971;

    font-size: 24px;

    line-height: 34px;

    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 8px;
}

.name-section{
    display: flex;
    justify-content: space-between;

    padding-top: 30px;
}

.name-section input{
    width: 300px;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.input-wrapper label{
    color: #4E4958;

    font-size: 14px;
    line-height: 24px;

    margin-bottom: 8px;
}

.input-wrapper label span{
    color: #C1BCCC;

    font-size: 12px;
    line-height: 20px; /* 166.667% */
}

.input-wrapper label:hover > span{
    color: #6c6972;
}

.input-wrapper input{
    height: 56px;
    border-radius: 8px;

    padding: 0 16px;

    border: 1px solid #E6E6F0;
    background:#FAFAFC;

}

input:invalid{
    outline: 1px solid red;
}

.date-fieldset legend{
    font-size: 20px;
    line-height: 34px;

    border: none;
    margin-top: 16px;
}

.date-fieldset:first-of-type > legend{
    margin-top: 32px;
}

.date-wrapper{
    display: flex;
    gap: 10px;
}

.date-wrapper .input-wrapper{
    margin-top: 0;
}

.date-wrapper > .input-wrapper{
    width: 140px;
}

.date-wrapper > .input-wrapper:nth-child(1){
    width: 300px;
    margin-right: 32px;
}

.form-buttons{
    background-color: #535971;

    height: 160px;
    display: flex;
    flex-direction: column;

    border-radius: 0 0 20px 20px;

    padding: 52px 71px;
}

.form-buttons button{
    font-size: 20px;
    line-height: 26px;

    padding: 15px 40px;

    border-radius: 20px;
    background: #FF5374;

    color: white;
    border: none;
}

.form-buttons button:hover{
    background: #e64b6a;
    cursor: pointer;
}

